@font-face {
    font-family: Mullish-Italic;
    src: url("../assets/fonts/Mulish-Italic-VariableFont_wght.ttf")
}

@font-face {
    font-family: Mullish;
    src: url("../assets/fonts/Mulish-VariableFont_wght.ttf");
}

.text {
    font-family: Mullish;
}

.text-italic {
    font-family: Mullish-Italic;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.container-fade-in {
    animation: fadeInAnimation ease 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}